extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleabout.css

block content
    div.container  
        div.aboutpage 
            h1 About Us
            p Some Information About our Dance Academy 
        div.info 
            h3 Manisha Dance Academy  
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci impedit facilis illum excepturi sint amet alias! Delectus voluptate provident numquam vel, laudantium, itaque impedit explicabo sunt molestiae modi perferendis animi? ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores sint quidem vero vitae cum officia voluptates, quas rem amet, debitis dicta magnam animi! Placeat facilis velit praesentium id voluptatum.

            h3 Founders 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, possimus. ipsum dolor sit amet consectetur adipisicing elit. Hic totam adipisci minima mollitia excepturi quasi facere recusandae quod repellat reprehenderit! ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores sint quidem vero vitae cum officia voluptates, quas rem amet, debitis dicta magnam animi! Placeat facilis velit praesentium id voluptatum.

            h3 Core Team 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, voluptatum. ipsum dolor sit amet consectetur adipisicing elit. Facilis cupiditate culpa dolorum! Temporibus vero tenetur quam quidem dolores! Vitae, quas! ipsum dolor sit amet consectetur adipisicing elit. Nihil dolores sint quidem vero vitae cum officia voluptates, quas rem amet, debitis dicta magnam animi! Placeat facilis velit praesentium id voluptatum.