extends base.pug

block scripts
    script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleclassinfo.css

block content
    div.container 
        div.classinfo 
            h1 Class Information 
        div#classInfo  
            div.class  
            h2 Welcome To Out Dance Academy 
            p Thank for your intereste in our Dance Academy. 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nesciunt possimus esse fuga unde quidem aut, laudantium quis ipsam molestiae illo at mollitia tempore fugiat voluptates veniam repudiandae dolor architecto, eum quibusdam? Fugit beatae eos tempora animi, obcaecati quae ipsum magni neque nesciunt, excepturi consequatur tenetur ad ipsam minima explicabo error quod asperiores deserunt ut aperiam, unde quibusdam voluptatibus nulla atque? Quo dignissimos natus earum, ab aspernatur ipsum totam suscipit, laboriosam laborum eaque officiis architecto numquam temporibus commodi sed adipisci dolor hic possimus soluta recusandae pariatur sit beatae ipsa nemo! Quaerat fugiat accusamus earum reiciendis culpa repudiandae rem consequuntur eligendi quis ratione eos repellat rerum quo, quasi, consequatur eveniet inventore natus velit praesentium, itaque impedit exercitationem nam tenetur. Recusandae temporibus modi sed optio? Officiis porro illo sint voluptates corporis molestiae nihil dolore qui cupiditate minus. Porro laborum dolores, soluta aliquid ab fugiat consequuntur, esse, saepe obcaecati voluptas recusandae laboriosam blanditiis ad quia velit. Laborum eveniet iusto officiis ut, veniam doloremque suscipit similique dignissimos, doloribus itaque at ipsum nostrum libero sequi obcaecati. Cum, placeat! Odit vero exercitationem cupiditate ea, quam error eligendi facere nesciunt. Dolor adipisci aut quae quasi maiores earum doloremque? Iusto maiores architecto laborum minima ex odio, mollitia ducimus.


        